.boton {
    cursor: pointer;
    margin: 0.5rem;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    color: #343A78;
    border-bottom: 0px solid white;
    position: relative;
    
}

.boton:hover {
    border-bottom: 2px solid white;
}